body {
    font-family: 'Comic Sans MS';
    font-size: 1.25em;
    background-color: rgb(82, 139, 82);
}

form {
    flex-flow: column;
    max-width: 300px;
    display: flex;
}

form > * {
    padding: 5px;
}

.invalido, /* para não escrever duas vezes, use vírgula para dizer que os dois seletores fazem o mesmo */
input[type="checkbox"].invalido + label { /* se tiver um input do tipo checkbox que tiver a classe invalido */
    color: red; /* o próximo elemento após ele terá a cor vermelha */

}

#titulo {
    text-align: center;
}

#meio {
    margin-left: 527px;
}